.app__gallery {
  display: flex;
  flex-direction: row;
  background: var(--color-black);
  padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 500px;
  padding-right: 2rem;

  button {
    margin-top: 1rem;
  }
}

.app__gallery-img {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 50%;
  position: relative;
}

.app__gallery-img_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth
}

.app__gallery-img_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-img_card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;

}

.app__gallery-img_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease;
}

.app__gallery-img_card:hover img {
  opacity: 0.35;
}

.app__gallery-img_card:hover .gallery__image-icon {
  opacity: 1;
}

.gallery__image-icon {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.app__gallery-img_arrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}

.gallery__arrow-icon {
  color: var(--color-golden);
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--color-black);
  border-radius: 5px;
}

.gallery__arrow-icon:hover {
  color: var(--color-white);
}