.app__navbar {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  background: var(--color-black);
}


.app__navbar-logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 150px;
  }
}


.app__navbar-links {
  flex: 2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;

  li {
    margin: 0 1.4rem;
    cursor: pointer;
  }

  li:hover {
    color: var(--color-grey);
  }
}

.app__navbar-login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
  }

  a:hover {
    border-bottom: 1px solid var(--color-golden);
  }

  div {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
  }
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;

  .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
  }
}

.app__navbar-smallscreen-links {
  list-style: none;

  li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
  }

  li:hover {
    color: var(--color-white);
  }
}




@media screen and (max-width: 2000px) {
  .app__navbar-logo img{
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo {
    width: 110px;
  }
}
