@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-grey: #AAAAAA;
  --color-gray: #545454;
  --color-white: #FFFFFF;
  --color-golden: #DCCA87;
  --color-crimson: #F5EFDB;
  --color-blackbg: #0C0C0C;
  
  --font-cormorant: 'Cormorant Upright', serif;
  --font-open-sans: 'Open Sans', sans-serif;
}



@layer base {

}



@layer components {
  .center {
    @apply flex items-center justify-center
  }
  .open-sans {
    @apply text-white font-normal tracking-wider capitalize font-open-sans text-[16px] hover:text-gray
  }
  .nav-hover {
    @apply hover:text-grey transition-colors duration-300
  }
}
















.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
